.offers {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 20px;
    margin-bottom: 50px;
    background: linear-gradient(180deg, #1677FF 0%, #e1ffea22 60%);
}

.offers-left,
.offers-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}

.offers-left {
    flex-direction: column;
}

.offers-right {
    color: #171717;
    font-size: 20px;
    font-weight: 600;
    padding-top: 20px;
}

.offers-left button {
    width: 100%;
    max-width: 282px;
    height: 70px;
    border-radius: 35px;
    background: #1677FF;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;
    cursor: pointer;
}

/* For larger screens */
@media (min-width: 768px) {
    .offers {
        width: 80%;
        height: 60vh;
        flex-direction: row;
        padding: 0 40px;
        margin-bottom: 100px;
    }

    .offers-left,
    .offers-right {
        margin-bottom: 0;
        text-align: left;
    }

    .offers-left button {
        width: 282px;
        font-size: 22px;
        margin-top: 30px;
    }

    .offers-right {
        font-size: 22px;
        justify-content: flex-end;
        padding-top: 50px;
    }
}

